{% extends '/layout/user.html.twig' %}

{% block title %}Log in!{% endblock %}

{% block body %}
    <div class="container home">
        <div class="content log">
            <h2 class="animate__animated animate__zoomInDown mb-3">Please sign in</h2>
            <form method="post"
                  class="logform">
                {% if error %}
                    <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                {% endif %}

                {% if app.user %}
                    <div class="mb-3">
                        You are logged in as {{ app.user.username }}, <a href="{{ path('app_logout') }}">Logout</a>
                    </div>
                {% endif %}

                <div class="form-floating mb-3">
                    <input type="email"
                           value="{{ last_username }}"
                           name="email"
                           id="floatingInput"
                           class="form-control rounded-pill"
                           autocomplete="email"
                           placeholder="Email"
                           required autofocus>
                    <label class="text-dark"
                           for="floatingInput">Email
                    </label>
                </div>
                <div class="form-floating mb-3">
                    <input type="password"
                           name="password"
                           id="floatingInput"
                           class="form-control rounded-pill"
                           placeholder="Password"
                           autocomplete="current-password"
                           required>
                    <label class="text-dark"
                           for="floatingInput">Password
                    </label>
                </div>

                <input type="hidden"
                       name="_csrf_token"
                       value="{{ csrf_token('authenticate') }}"
                >

                <div class="logform-submit mb-5">
                    <button class="btn btn-lg btn-light"
                            type="submit">
                        Connexion
                    </button>
                </div>
                <p>Creer un compte <a href="{{ path('app_register') }}">ici</a></p>
            </form>
        </div>
    </div>
{% endblock %}
{% block footer %}{% endblock %}
