<div class="content d-flex flex-column">
    <h2 class="text-center animate__animated animate__zoomInDown my-3">Update info user</h2>

    {{ form_start(form, {'attr' : {'class': 'form'}}) }}
    <div class="form-floating mb-3">
        {{ form_widget(form.firstName) }}
        {{ form_label(form.firstName) }}
    </div>
    <div class="form-floating mb-3">
        {{ form_widget(form.lastName) }}
        {{ form_label(form.lastName) }}
    </div>
    <div class="mb-3">
        {{ form_widget(form.avatar) }}
    </div>
    <div class="form-floating mb-3">
        {{ form_widget(form.email) }}
        {{ form_label(form.email) }}
    </div>
    <button class="btn btn-outline-light">{{ button_label|default('Save') }}</button>
    {{ form_end(form) }}
</div>