{% extends '/layout/user.html.twig' %}

{% block title %}Game Trash{% endblock %}
{% block bodyClass %}main{% endblock %}

{% block body %}
    <div class="container home">
        {% if not app.user %}
            <div class="content-noConnect">
                <h2 class="welcom animate__animated animate__jackInTheBox">Join Us If You Want Some Fun !!!</h2>
            </div>
        {% endif %}
        {% if app.user %}
            <section class="content-games mb-5">
                <h2 class="text-center animate__animated animate__zoomInDown mb-5">Games</h2>
                <div class="games">
                    {% for game in games %}
                        <div class="game">
                            <div class="game-img" transition-style="in:circle:hesitate">
                                <img src="{{ game.pathImg }}" alt="">
                                <p class="game-img_price">{{ game.price }} €</p>
                            </div>
                            <div class="game-btn">
                                <a href="{{ path('game_detail', {'id': game.id}) }}">Voir la fiche</a>
                            </div>
                        </div>

                    {% endfor %}
                </div>
            </section>
            <section class="content-posts mb-5">
                <h2 class="text-center animate__animated animate__zoomInDown mb-5">Post</h2>
                {% for post in posts %}
                    <h2>{{ post.title }}</h2><span>{{ post.createdAt | date("m/d/Y") }}</span>
                    <p>{{ post.content }}</p>
                {% endfor %}

            </section>
        {% endif %}
    </div>
{% endblock %}

