{% extends '/layout/user.html.twig' %}

{% block title %}Register{% endblock %}
{% block bodyClass %}base{% endblock %}

{% block body %}
    <div class="container">
        <div class="content crea">
            <h2 class="animate__animated animate__zoomInDown mb-3">Register</h2>

            {{ form_start(registrationForm,
                {'attr': {'class': 'crealog mb-3'}}
            ) }}

            <div class="form-floating mb-3">
                {{ form_widget(registrationForm.email,
                    {
                        'attr': {
                        'class': 'form-control rounded-pill'
                    },
                    },
                ) }}
                {{ form_label(registrationForm.email) }}
            </div>
            <div class="form-floating mb-3">
                {{ form_widget(registrationForm.plainPassword,
                    {'attr': {
                        'class': 'form-control rounded-pill'
                    }}
                ) }}
                {{ form_label(registrationForm.plainPassword) }}
            </div>
            <div class="crealog-terms mb-3">
                {{ form_widget(registrationForm.agreeTerms) }}
                {{ form_label(registrationForm.agreeTerms) }}
            </div>
            <div class="crealog-footer">
                <button type="submit" class="btn btn-lg btn-light"><span>Register</span></button>
            </div>
            {{ form_end(registrationForm) }}

            <a class="btn btn-outline-light" href="{{ path('app_login') }}">Retour</a>
        </div>
    </div>

{% endblock %}
{% block footer %}{% endblock %}
