{% extends '/layout/user.html.twig' %}

{% block title %}Game Trash{% endblock %}
{% block bodyClass %}main{% endblock %}

{% block body %}
    <div class="container details">
        <div class="detail">
            <div class="detail-title">
                <h2>{{ game.title }}</h2><span>Date de sortie : {{ game.launchAt | date("d/m/Y") }}</span>
{#                <p>{{ cat.name }}</p>#}
            </div>
            <div class="detail-device">
                {% for device in game.devices %}
                <p>{{ device.name }}</p>
                <img src="{{ device.pathLogo }}" alt="">
                {% endfor %}
            </div>
            <div class="detail-cat">
{#                {% for category in game.categories %}#}
{#                    <p>{{ category.name }}</p>#}
{#                {% endfor %}#}
            </div>
            <div class="detail-img" transition-style="in:circle:bottom-left">
                <img src="{{ game.pathImg }}" alt="">
                <p class="detail-img_price">{{ game.price }} €</p>
            </div>
            <div class="detail-info">
                <p>{{ game.description }}</p>
            </div>
            <div class="detail-btn">
                <a href="{{ path('home') }}">Retour</a>
            </div>
        </div>
    </div>
{% endblock %}