<div class="form-contact">
    {{ form_start(form) }}
    <div class="form-floating mb-3">
        {{ form_widget(form.title) }}
        {{ form_label(form.title) }}
    </div>
    <div class="form-floating mb-3">
        {{ form_widget(form.game) }}
        {{ form_label(form.game) }}
    </div>
    <button class="btn btn-outline-light">{{ button_label|default('Save') }}</button>
    {{ form_end(form) }}
</div>

