<h2 class="text-center animate__animated animate__zoomInDown " id="contact">Contact Us</h2>
<div class="content ticket mb-5">
    <div class="form-contact">
        {{ form_start(form) }}
        <div class="form-floating mb-3">
            {{ form_widget(form.title) }}
            {{ form_label(form.title) }}
        </div>
        <div class="form-floating mb-3">
            {{ form_widget(form.content) }}
            {{ form_label(form.content) }}
        </div>
        <div class="form-btn">
            {{ form_widget(form.submit) }}
        </div>
        {{ form_end(form) }}
    </div>
</div>

