<div class="form-contact">
    {{ form_start(form) }}
    <div class="form-floating mb-3">
        {{ form_widget(form.title) }}
        {{ form_label(form.title) }}
    </div>
    <div class="form-floating mb-3">
        {{ form_widget(form.description) }}
        {{ form_label(form.description) }}
    </div>
    <div class="form-floating mb-3">
        {{ form_widget(form.launchAt) }}
        {{ form_label(form.launchAt) }}
    </div>
    <div class="form-floating mb-3">
        {{ form_widget(form.price) }}
        {{ form_label(form.price) }}
    </div>
    <div class="form-floating mb-3">
        {{ form_widget(form.pathImg) }}
        {{ form_label(form.pathImg) }}
    </div>
    <div class="form-floating mb-3">
        {{ form_widget(form.gameCategory) }}
        {{ form_label(form.gameCategory) }}
    </div>
    <div class="form-floating mb-3">
        {{ form_widget(form.devices) }}
        {{ form_label(form.devices) }}
    </div>
    <div class="form-btn">
        <button class="btn">{{ button_label|default('Save') }}</button>
    </div>
    {{ form_end(form) }}
</div>
