<div class="content-creaTopic">
    <h2 class="text-center animate__animated animate__zoomInDown my-3">Create new topic in {{ forum.title }}</h2>
    <div class="form-topic">
        {{ form_start(form) }}
        <div class="form-floating mb-3">
            {{ form_widget(form.title) }}
            {{ form_label(form.title) }}
        </div>
        <div class="form-floating mb-3">
            {{ form_widget(form.pathLogo) }}
            {{ form_label(form.pathLogo) }}
        </div>
        <div class="form-btn">
            {{ form_widget(form.submit) }}
        </div>
        {{ form_end(form) }}
    </div>
</div>
