{% block header %}
    <header>
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark mb-5">
            <div class="container">
                <a class="navbar-brand" href="#">Game Trash</a>
                <h2 class="fs-5 mb-0">{{ app.user ? 'Hello ' ~ app.user.firstName : '' }}</h2>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                        data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                        {% if is_granted("ROLE_ADMIN") %}
                            <li class="nav-item dropdown text-center">
                                <a class="nav-link active dropdown-toggle" href="#" id="navbarDropdown" role="button"
                                   data-bs-toggle="dropdown" aria-expanded="false">
                                    Menu
                                </a>
                                <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                    <li><a class="dropdown-item text-center" href="#">Forums</a></li>
                                    <hr>
                                    <li><a class="dropdown-item text-center" href="{{ path('admin_post_list') }}">Post Gestion</a></li>
                                </ul>
                            </li>
                        {% endif %}

                        <li class="nav-item text-center">
                            <a class="nav-link active" aria-current="page"
                               href="">{{ app.user ? 'Forums' : '' }}</a>
                        </li>
                        <li class="nav-item text-center">
                            <a class="nav-link active" aria-current="page"
                               href="{{ app.user ? './logout' : './login' }}">{{ app.user ? 'Deconnexion' : 'Connexion' }}</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
{% endblock %}